:root {
    --lichtblauw: hsl(221, 23%, 76%);
    --blauw: hsl(239, 34%, 30%);
    --oranje: hsl(21, 90%, 48%);
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blauw)
}

/* HEADER */
header {
    box-shadow: 0px 10px 6px hsl(0, 0%, 78%);
    border-radius: 20px;
}

/* NAV LIST */
.nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.nav a {
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

.logo {
    filter: drop-shadow(3px 2px 2px hsl(0, 0%, 60%));
    width: 100%;
    max-width: 400px;
    height: auto;
}

.contactknop {
    border: none;
    border-radius: 20px;
    color: hsl(0, 0%, 100%);
    background-color: var(--oranje);
}

/* Datum van artikel */
.datum {
    font-size: 0.7rem;
    margin: 0.5rem 0;
    font-weight: bold;
}

/* Titel van het artikel */
h2 {
    margin: 0;
}

/* Beschrijving van het artikel */
.beschrijving {
    line-height: 1.4;
}

/* Lees meer button van het artikel */
.read-button{
    border: none;
    border-radius: 25px;
    color: white;
    background-color: var(--oranje)
}

.read-button:hover {
    opacity: 0.75;
}

/* Box van het artikel */
.sport-jong-oud, .wandelen, .buurttuin
 {
    height: fit-content;
    border: 10px solid hsl(0, 0%, 100%);
    border-radius: 25px;
    box-shadow: 1px 5px 10px 10px hsl(0, 0%, 78%);
    padding: 1rem;
    margin: 1rem;
}

/* Afbeelding van het artikel */
.sport-img, .wandel-img, .buurttuin-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
.flexbox-content {
    display: flex;
    flex-direction: column;
}